<style>
    .top-buffer { margin-top:23px; }

    .address-input {
    width: 405px;

}
</style>


<div class="ui-g-12">
    <p-fieldset>
        <p-header><i class="fa fa-file-text-o heading"></i>{{state}} Customer</p-header>

        <div class="ui-g-8">
            <div class="ui-g-1">
            </div>
            <div class="ui-g-11">
                <div class="row mt-10">
                    <div class="ui-g">
                        <div class="ui-float-label">
                            <input id="name" [(ngModel)]="model.name" type="text" pInputText>
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="ui-g-1">
                    </div>
                </div>
                
                <div class="row mt-20 top-buffer">
                    <div class="ui-g">
                        <div class="ui-float-label">
                            <input id="idNumber" [(ngModel)]="model.idNumber" type="text" pInputText>
                            <label for="idNumber">ID Number</label>
                        </div>
                    </div>
                    <div class="ui-g-1">
                    </div>
                </div>

                <div class="row mt-20 top-buffer">
                    <div class="ui-g">
                        <div class="ui-float-label">
                            <input id="cellPhoneNumber" [(ngModel)]="model.cellPhoneNumber" type="text" pInputText>
                            <label for="cellPhoneNumber">Cell Number</label>
                        </div>
                    </div>
                    <div class="ui-g-1">
                    </div>
                    <div class="ui-g">
                        <div class="ui-float-label">
                            <input id="workPhoneNumber" [(ngModel)]="model.workPhoneNumber" type="text" pInputText>
                            <label for="workPhoneNumber">Work Number</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-20 top-buffer">
                    <div class="ui-g">
                        <div class="ui-float-label">
                            <input class="address-input" id="address" [(ngModel)]="model.address" type="text" pInputText>
                            <label for="address">Address</label>
                        </div>
                    </div>
                </div>

                <div class="row mt-20 top-buffer">
                    <button label="Cancel" (click)="cancel()" class="ui-button-warning" icon="fa-close" iconPos="right" type="button" pButton></button>
                    <button label="Create" *ngIf="!updating" (click)="create()" class="ui-button-success" icon="fa-check" iconPos="right" type="button" pButton></button>
                    <button label="Update" *ngIf="updating" (click)="update()" class="ui-button-success" icon="fa-check" iconPos="right" type="button" pButton></button>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>



