<nav class="navbar navbar-expand-lg navbar-light bg-light golden-nav-bg mb-2 box-shadow">
    <!-- 
      Brand
    -->
    <a class="navbar-brand golden-brand" routerLink="dashboard">
      <img class="logo" src="../../assets/golden.png" />
    </a>
    
    <!-- 
      Menu button when the menu is collapsed
    -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- 
      Primary navbar items
    -->
    <div class="collapse navbar-collapse" id="navbar">
      
      <span class="mr-auto">
        <ul class="navbar-nav" *ngIf="!isAuthenticated()">
          <li class="nav-item dropdown" [routerLinkActive]="['active']">
            <a class="nav-item nav-link" routerLink="customers" [routerLinkActive]="['active']" (click)="showSpinner()">
              Customers
            </a>
          </li>

          <li class="nav-item dropdown" [routerLinkActive]="['active']">
            <a class="nav-item nav-link" routerLink="orders" [routerLinkActive]="['active']" (click)="showSpinner()">
              Orders
            </a>
          </li>

          <li class="nav-item dropdown" [routerLinkActive]="['active']">
            <a class="nav-item nav-link" routerLink="diary" [routerLinkActive]="['active']" (click)="showSpinner()">
              Diary
            </a>
          </li>

        </ul>
      </span>
      
      <!-- 
        Secondary items
      -->
      <ul class="navbar-nav">
          <li class="nav-item dropdown" [routerLinkActive]="['active']" *ngIf="isAuthenticated()">
            <a class="nav-link dropdown-toggle clickable" id="managementDropdown" role="button" data-toggle="dropdown">
                <i class="fa fa-cog heading"></i>Management
            </a>
            <div class="dropdown-menu">
                <!-- Never really knew what admin was anyway. Need to look into it
              <a class="dropdown-item" routerLink="admin" [routerLinkActive]="['active']">Admin</a>
                -->
              <a class="dropdown-item" routerLink="users" [routerLinkActive]="['active']">Users</a>
            </div>
          </li>

        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isAuthenticated()"><a class="nav-link" routerLink="login">Login</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isAuthenticated()"><a class="nav-link" routerLink="register">Register</a></li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isAuthenticated()"><a class="nav-link" routerLink="login" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>








